<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes | Babbage</title>
</head>

<body>
    <h1> Charles Babbage </h1>
    <img src="/img/babbage.jpg" alt="babbage">
    <p>
        Charles Babbage fue un matemático y científico de la computación británico.Diseñó y desarrolló una calculadora
        mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero
        nunca construyó), la analítica para ejecutar programas de tabulación o computación; por estos inventos se le
        considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por
        lo que se le considera como "Alguien".

    </p>
    <h2>Índice</h2>

    <ol>
        <li><a href="#biografía">Biografía</a></li>
        <li><a href="#principales">Principales Logros</a></li>
    </ol>
    <h3 id="biografía">
        Biografía
    </h3>
    <p>
        Charles Babbage se licenció en la Universidad de Cambridge en 1814. Poco después, en 1815, fundó con J. Herschel
        la Analytic Society con el propósito de renovar de la enseñanza de las matemáticas en Inglaterra. En 1816 fue
        elegido miembro de la Royal Society y en 1828 ingresó en su universidad como profesor de matemáticas.

        Aunque había destacado en el área de la teoría de funciones y análisis algebraico, Charles Babbage se volcó en
        el intento por conseguir una máquina capaz de realizar con precisión tablas matemáticas. En 1833 completó su
        "máquina diferencial", capaz de calcular los logaritmos e imprimirlos de 1 a 108.000 con notable precisión, y
        formuló los fundamentos teóricos de cualquier autómata de cálculo. Por entonces Babbage ya conocía los sistemas
        decimales de conteo, y estaba familiarizado con la descomposición de complejas operaciones matemáticas en
        secuencias sencillas.

        Después de esto, Babbage se volcó en el proyecto de diseñar una "máquina analítica" que fuese capaz de procesar
        cualquier secuencia de instrucciones aritméticas. Para esta realización contó con fondos del gobierno inglés y
        con la colaboración de la que está considerada como la primera programadora de la historia, Ada Lovelace, hija
        del poeta Lord Byron.
    </p>
    <h3 id="principales">
        Principales Logros
    </h3>
    <p>
        En 1822 produjo un modelo funcional pequeño de su Difference engine (máquina diferencial). El funcionamiento
        aritmético de la máquina era limitado, pero podía recopilar e imprimir tablas matemáticas sin mayor intervención
        humana que la necesaria para girar las manivelas en la parte superior del prototipo.

        Babbage es considerado el principal pionero de la informática por su siguiente invención, la máquina analítica o
        Analytical engine. En su diseño teórico, la máquina analítica contenía ya todas las partes esenciales de la
        computadora moderna: dispositivo de entrada, memoria, unidad central de procesamiento e impresora. La máquina
        analítica ha pasado a la historia como el prototipo del ordenador moderno, aunque nunca se construyó un modelo a
        escala real. Pero, aun si se hubiera construido, la máquina analítica habría sido movida por una máquina de
        vapor y, debido a sus componentes totalmente mecánicos, su velocidad de cálculo no hubiera sido muy grande.
    </p>
    <a href="https://www.biografiasyvidas.com/biografia/b/babbage.htm#:~:text=Babbage%20es%20considerado%20el%20principal,central%20de%20procesamiento%20e%20impresora." target="_blank">Fuente:Biografias y vidas</a>

        <ul type="none">
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-Lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>

        </ul>

</body>

</html>