<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes | Hamilton</title>
</head>

<body>
    <h1> Margaret Hamilton </h1>
    <img src="/img/hamilton.jpg" alt="hamilton">
    <p>
        Margaret Hamilton (Paoli, Indiana, 17 de agosto de 1936) es una científica computacional, matemática e ingeniera
        de Software estadounidense.
    </p>
    <h2>Índice</h2>

    <ol>
        <li><a href="#biografía">Biografía</a></li>
        <li><a href="#principales">Principales Logros</a></li>
    </ol>
    <h3 id="biografía">
        Biografía
    </h3>
    <p>
        Margaret Elaine Heafield nació en Paoli, Indiana el día 17 de agosto de 1936. Hija de Kenneth Heafield y Ruth
        Esther Heafield, que tuvieron otros dos hijos posteriormente: David y Kathryn.

        Tras mudarse con su familia a Míchigan, Margaret finalizó los estudios en el instituto Hancock High School en el
        año 1954. Estudió matemáticas en la Universidad de Míchigan en el año 1955, antes de cambiarse a Earlham
        College, donde su madre estudiaba. Allí obtuvo el grado en matemáticas con filosofía en el año 1958. Citó a
        Florence Long, el director del departamento de matemáticas en Earlham como ayuda en su deseo de investigar en
        las matemáticas abstractas y convertirse en profesora de matemáticas. Otras de sus inspiraciones fueron su
        padre (filósofo y poeta) y su abuelo (director de instituto y ministro de Sociedad Religiosa de los Amigos), por
        incluir aspectos e intereses filosóficos en sus estudios.

        En Earlham, Margaret conoció a su primer marido, James Cox Hamilton, que terminaba sus estudios de química.
        Se casaron el 15 de junio de 1958, una vez Margaret se había graduado en Earlham. Trabajó una temporada
        como profesora de matemáticas y francés en un colegio público en Boston, Indiana, hasta que su marido se
        graduó. Se mudaron a Boston, Massachusetts, donde James continuó sus estudios de postgrado en química en la
        Universidad de Brandeis.

        Tuvieron una hija llamada Lauren el 10 de noviembre de 1959. Finalmente, la pareja se divorció en 1967. Dos
        años después, Margaret se casaría con Dan Lickly.

        Se mudó a Massachusetts con la intención de hacer estudios de postgrado en Brandeis, pero en lugar de ello tomó
        un puesto en el MIT como desarrolladora de software. De 1961 a 1963, trabajó para el Proyecto Sage Philco-Ford,
        donde usó radares para seguir trayectorias de aeronaves desconocidas. También escribió código para el
        Laboratorio de Investigación Cambridge de la Fuerza Aérea. Trabajó para ganar experiencia de primera mano en una
        época donde las ciencias computacionales y la ingeniería de software no existían ni como disciplinas, ni como
        cursos universitarios.

        Margaret Hamilton era parte del Charles Stark Draper Laboratory en el MIT, donde en 1965 se convirtió en la
        responsable del desarrollo del software de vuelo a bordo de las computadoras de la misión Apolo en el que
        trabajaba el equipo del laboratorio, y posteriormente dirigió y supervisó los desarrollos de la misión de la
        estación espacial Skylab.

    </p>
    <h3 id="principales">
        Principales Logros
    </h3>
    <p>
        Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT, donde con
        su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo. Fue fundadora,
        en 1976, de la empresa Higher Order Software. En 1986, se convirtió en la fundadora y CEO de Hamilton
        Technologies, Inc. en Cambridge, Massachusetts. La compañía se desarrolló alrededor del lenguaje universal de
        sistemas basada en su paradigma de "desarrollo antes del hecho" (DBTF, del inglés Development Before the Fact)
        para sistemas de diseño de software. Acuñó el término «ingeniería de software» para distinguir entre el
        trabajo de hardware y otras ingenierías. A pesar de que su idea no fue bien recibida al inicio, eventualmente el
        software generó el mismo respeto que otras disciplinas.

        El 22 de noviembre de 2016, Hamilton recibió la Medalla Presidencial de la Libertad, entregada por el
        expresidente de Estados Unidos Barack Obama, por su trabajo en la NASA durante las misiones Apolo.

        Su enfoque del diseño de software fue pionero para la época, ya que los requisitos de robustez y tolerancia a
        fallos eran una prioridad para la seguridad y supervivencia de los astronautas durante los viajes a la Luna, es
        por esto que para muchos Margaret Hamilton es considerada una de las primeras personas en convertirse en
        Ingeniera de Confiabilidad del Sitio (del inglés Site Reliability Engineer).

        Hamilton ha publicado más de 130 artículos, actas e informes, y ha llevado a cabo sesenta proyectos y seis
        grandes programas.

    </p>
    <a href="https://es.wikipedia.org/wiki/Margaret_Hamilton_(cient%C3%ADfica)#Biograf%C3%ADa" target="_blank">Fuente:Wikipedia</a>





    <ul type="none">
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berbers-lee">Berners-Lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>

    </ul>

</body>

</html>